@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;

}

.alert-container .col-12{
    padding-left: 0;
    padding-right: 0;
    
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    padding: 5px 15px;
    background-color: #ffd15a;
}

/* Navbar  */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(40,40,40, 0.25);
}

.navbar-toggler {
    border: none;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Callout */

.callout-container {
    background-color: rgb(30, 30, 30);
    background: url(../images/whiskey-new.jpg) no-repeat top left / cover fixed;

    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

/* Quotes */

.quotes-container {
    margin-bottom: 5rem;
}

.quotes h2 {
    text-align: center;
}

/* Features  */

.feature h3, .feature p {
    margin: 40px 0;
}

.features h2 {
    text-align: center;
}

.features-container {
    background-color: #f6603b;
    padding-bottom: 3rem;
}

i {
    font-size: 1.5em;
    color: white;
    margin-bottom: 1rem;
}

.badge {
    background-color: #ffd15a;
    color:rgb(30, 30, 30);
}


/* Jumbotron  */

.jumbotron {
    background-color:transparent;
}
.jumbotron > h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
}

.jumbotron .lead {
    margin: 100px 0 25px;
    color: #e7e7e7;
}

.jumbotron .text-muted {
    font-size: 1.1em;
    margin-top: 1rem;
    color: white;
}

/* Block dividers  */

.block-divider {
    width: 200px;
    height: 3px;
    border: none;
}

.block-divider--red {
    background-color: #f04b0b;
}

.block-divider--white {
    background-color: white;
}



/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: transparent;
    border: 2px solid #f04b0b;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #f04b0b;
    color: white;
}

.btn--white {
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

.btn--white:hover,
.btn--white:active,
.btn--white:focus,
.btn--white:active:focus {
    background-color: white;
    color:#f04b0b;
}